<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n</Property>
        <Property name="APP_LOG_ROOT">log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="application" filename="${APP_LOG_ROOT}/mss-ap.log"
                     filePattern="${APP_LOG_ROOT}/mss-ap-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1024KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

        <RollingFile name="spring" filename="${APP_LOG_ROOT}/mss-spring.log"
                     filePattern="${APP_LOG_ROOT}/mss-spring-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1024KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

    </Appenders>
    <Loggers>

        <Logger name="ru.javaschool.mobileoperator.aspects.LoggingAspect" additivity="false" level="trace">
            <AppenderRef ref="application" />
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="spring" />
        </Root>
    </Loggers>
</Configuration>